# Binaries and executables
/goovie
/build/
*.exe

# Go monolith backup
goovie.go

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Go
/vendor/

# Root debug and screenshots
/goovie.png
/prowlar.png
/torrent_debug.txt